.venv/
__pycache__/
.env
*.graphml
*.json
*.md
venv/
*.pdf
LightRAG_deploy_0430/
*.png
logs/
scratch/
miss_form_result_v1/
miss_form_result_v2/
results/
Flag/


# Allow specific docs files to be tracked
!docs/how_to_fill_forms_docs/schedule_a/schedule_a_tax_rates.json
!docs/how_to_fill_forms_docs/schedule_a/schedule_a_schema.json
!docs/how_to_fill_forms_docs/schedule_a/schedule_a_references_default.json
!docs/how_to_fill_forms_docs/schedule_a/scheduleA_complete.md
!docs/how_to_fill_forms_docs/schedule_b/schedule_b_schema.json
!docs/how_to_fill_forms_docs/schedule_b/schedule_b_references_default.json
!docs/how_to_fill_forms_docs/schedule_b/scheduleB_complete.md
!docs/how_to_fill_forms_docs/schedule_b/scheduleB_corrections_log.md
!docs/how_to_fill_forms_docs/schedule_c/schedule_c_schema.json
!docs/how_to_fill_forms_docs/schedule_c/scheduleC.md
!docs/how_to_fill_forms_docs/schedule_c/scheduleC_complete.md
!docs/api/*.md
